<div class="flex flex-col items-center justify-center">
  <span class="loading loading-dots loading-lg"></span>
</div>

<!-- <div class="m-5">
    <div id="alert-additional-content-1" [ngClass]="{' text-green-800  border-green-300': r, ' text-blue-800  border-blue-300': e}" class="p-4 mb-4 border rounded-lg bg-blue-50" role="alert">
        <div class="flex items-center">
          <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <h3 class="text-lg font-medium">
            @if (r) {
                {{r}}
            }
            @if (e) {
                {{e.error}}
            }
          </h3>
        </div>
        
        <div class="flex">
          <button (click)="action('home')" [ngClass]="{'bg-green-800 hover:bg-green-900': r, 'bg-blue-800 hover:bg-blue-900': e}" type="button" class="text-white  focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center">
            
           Accueil
          </button>
          <button (click)="action('login')" type="button" [ngClass]="{'text-green-800 bg-transparent border border-green-800 hover:bg-green-900': r, 'text-blue-800 bg-transparent border border-blue-800 hover:bg-blue-900': e}"  class=" hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 text-center" data-dismiss-target="#alert-additional-content-1" aria-label="Close">
            Connection
          </button>
        </div>
      </div>
</div> -->